.Fondo{
    background-color: #031F44;
    min-height: 91.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    

}
.Body{
    align-items: center;
    width: 80%;
    background-color: #7A7C8F;
    border-radius: .5em;
    box-shadow: 0 0.18em 1.50em #7a7c8fb0;
    padding: 2vmax;
}
.Relleno{
    height: 3.25em;
}
